@media (max-width: 600px) {
  .box {
    width: 200px;
    height: 200px;
    background-color: aqua;
    color: brown;
    border: 1px solid aqua;
  }
}

@media (min-width: 600px) {
  .box {
    width: 600px;
    height: 600px;
    background-color: black;
    color: white;
    border: 6px solid black;
  }
}
